@using Models.Common
@using Models.Users
@using Tools
@model User

@{
    ViewBag.Title = Model.UserName;
    string disp_name = !string.IsNullOrWhiteSpace(Model.FullName) ? @Model.FullName : @Model.UserName;
    string logs_duration = "";
}
@{ 
    try
    {
        logs_duration = new TimeSpan((DateTime.Now - new DateTime((from log in Model.Connections select log.ConnectionStartDate.Ticks).Min())).Ticks)
        .ToFriendlyString(shortMode:2);
    }
    catch { }
}
<br />

<div class="text-success">@(TempData["SuccessMessage"]?.ToString())</div>
<div class="text-warning">@(TempData["ErrorMessage"]?.ToString())</div>

@(TempData["Collections"]?.ToString())

<table class="table">
    @if (Model != null)
    {

        <tr>
            <th colspan="5" style="border-top: none;">
                <h3 style="display: inline-block;">Welcome @disp_name</h3>
                @if (Model.Connections.Count() != 0)
                {
                    <h6 class="sub_title_info">
                        &emsp; logs are for the last @logs_duration
                        &ensp; loading time : @(TempData["LoadingTime"]?.ToString())
                    </h6>
                }
            </th>
        </tr>
        Html.RenderPartial("UserInfoPartial", Model);

        <tr>
            <th colspan="5">
                @if (Model.ActiveConnections.Count() != 0)
                {
                    <h3 style="display:inline-block;">Active Connections&emsp;</h3>
                }

                <h5 class="sub_title_info">maximum allowed online connections : @Model.ExtraInfo.MultilinkCapacity</h5>
                
                @if (Model.FullConnection)
                {
                    <h5 class="sub_title_info">/ no more connection is allowed for now!</h5>
                }
            </th>
        </tr>
        if (Model.ActiveConnections.Count() != 0)
        {
            Html.RenderPartial("ActiveConnsPartial", Model);
        }

        <tr>
            <th colspan="5">
                <h3>Downloads</h3>
            </th>
        </tr>
        Html.RenderPartial("DownloadsPartial");

        <tr>
            <th colspan="5">
                <h3>Connections History</h3>
            </th>
        </tr>
        Html.RenderPartial("ConnsHistPartial", Model);
    }
</table>