@using Models.Users
@using Tools
@model User

<tr class="row_with_bg table-labels-row">
    <th>User Name</th>
    <th>Status</th>
    <th>Download</th>
    <th>Upload</th>
    <th>Total Duration</th>
</tr>
<tr class="row_with_bg">
    <th>@Html.DisplayFor(model => model.UserName)</th>
    <th>
        @if (Model.ActiveConnections.Count() != 0)
        {<div class="connected"></div> }
        else
        { <div class="disconnected"></div>}
    </th>
    <th>@Model.TotalDownload.ToString()</th>
    <th>@Model.TotalUpload.ToString()</th>
    <th>@Model.TotalConnectionTime.ToFriendlyString()</th>
</tr>
<tr class="row_with_bg table-labels-row">

    @if (!string.IsNullOrEmpty(Model.ReservedIpAddress)) { <th> Reserved Ip Address </th> }
    else { <th></th> }
    <th>Conn Count</th>
    <th>Avg Download</th>
    <th>Avg Upload</th>
    <th>Avg Duration</th>
</tr>
<tr class="row_with_bg">
    <th>
        @if (!string.IsNullOrEmpty(Model.ReservedIpAddress)) { @Model.ReservedIpAddress }
    </th>
    <th>@Model.ConnectionsCount</th>
    <th>@Model.AverageDownloadEachTime.ToString()</th>
    <th>@Model.AverageUploadEachTime.ToString()</th>
    <th>@Model.AverageConnectionTime.ToFriendlyString()</th>
</tr>
